name: STM32 Build and Sync
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Your Code
        uses: actions/checkout@v4
        with:
          path: main-repo

      - name: Checkout STM32 Libraries  
        uses: actions/checkout@v4
        with:
          repository: STMicroelectronics/STM32CubeF4
          path: stm32-libs
          # We need to be more specific with the paths to ensure the .h files are pulled
          sparse-checkout: |
            Drivers/CMSIS/Device/ST/STM32F4xx/Include
            Drivers/CMSIS/Include

      - name: Build Project
        working-directory: ./main-repo
        run: |
          # We manually check if the file exists to debug if it fails again
          ls -R ../stm32-libs/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f401xe.h
          make STM_PATH=${{ github.workspace }}/stm32-libs