name: STM32 Build and Sync
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Toolchain
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.2.Rel1' 

      - name: Build Project
        run: make

      - name: Commit and Push Binaries
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add *.bin *.hex || echo "No binaries found"
          git commit -m "chore: upload build artifacts [skip ci]" || echo "No changes"
          git push