name: STM32 Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
    
    # <--- MAGIC HAPPENS HERE
    # Instead of a blank Ubuntu, we start inside your custom image
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Your Code
        uses: actions/checkout@v4
        # We don't need submodules here because the STM32 libs are already in the image!

      - name: Build Project
        # The image already set the STM_PATH environment variable
        # The image already has arm-none-eabi-gcc installed
        run: make